{% extends 'layouts/default.html.twig' %}

{% block content %}

<h1>{% block title %}Form Examples{% endblock %}</h1>

<ul class="list-group">
    {% for example in examples %}
        <a href="{{ base_path }}/examples/{{ example.code }}" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ example.name }}</h5>
                <small class="text-secondary">{{ example.id }}</small>
            </div>
            <p class="mb-1">{{ example.description }}</p>
            {% if example.tags is not empty %}
                <small class="text-muted">#{{ example.tags | join(' #')}}</small>
            {% endif %}
        </a>
    {% endfor %}
<ul>

{% endblock %}
